# Agrupacion de datos

## Agregacion de datos por categoria

In [1]:
import pandas as pd
import numpy as np

In [2]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [3]:
gender_data = []
income_data = []

In [4]:
for i in range(0, 500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [15]:
gender_data[1:10]

['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male']

In [7]:
income_data[1:10]

['Poor',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Rich',
 'Poor',
 'Poor',
 'Middle Class',
 'Poor']

In [23]:
# 160 media 30 dispercion
# N(m,s) -> m + s *z
# m = media
# s = desviacion tipica
# z -> N(0,1)
n = 500
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.rand(n)

In [ ]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight": weight,
        "Age": age,
        "Income": income,
    }
)

In [18]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female            Poor  178.161513  19.823247  37.290316  20143.929190
1    Male            Poor  166.284517  54.053425  24.640486  19568.877439
2  Female    Middle Class  169.545755  52.878528  17.340781  19019.140854
3    Male    Middle Class  100.154200  77.448955  47.785697  21473.062208
4  Female            Rich  108.556203  88.984779  46.647111  19907.939428

In [19]:
data.shape

(500, 6)