# Agrupacion de datos

## Agregacion de datos por categoria

In [1]:
import pandas as pd
import numpy as np

In [2]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [3]:
gender_data = []
income_data = []

In [4]:
for i in range(0, 500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [15]:
gender_data[1:10]

['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male']

In [7]:
income_data[1:10]

['Poor',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Rich',
 'Poor',
 'Poor',
 'Middle Class',
 'Poor']

In [23]:
# 160 media 30 dispercion
# N(m,s) -> m + s *z
# m = media
# s = desviacion tipica
# z -> N(0,1)
n = 500
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.rand(n)

In [ ]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight": weight,
        "Age": age,
        "Income": income,
    }
)

In [18]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female            Poor  178.161513  19.823247  37.290316  20143.929190
1    Male            Poor  166.284517  54.053425  24.640486  19568.877439
2  Female    Middle Class  169.545755  52.878528  17.340781  19019.140854
3    Male    Middle Class  100.154200  77.448955  47.785697  21473.062208
4  Female            Rich  108.556203  88.984779  46.647111  19907.939428

In [19]:
data.shape

(500, 6)

## Agrupacion de datos

In [25]:
 grouped_gender = data.groupby("Gender")

In [26]:
grouped_gender.groups

{'Female': Int64Index([  0,   2,   4,   6,  11,  14,  15,  16,  17,  18,
             ...
             482, 483, 484, 485, 486, 492, 493, 494, 496, 499],
            dtype='int64', length=268),
 'Male': Int64Index([  1,   3,   5,   7,   8,   9,  10,  12,  13,  20,
             ...
             480, 481, 487, 488, 489, 490, 491, 495, 497, 498],
            dtype='int64', length=232)}

In [27]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weight        Age        Income
0    Female            Poor  178.161513   19.823247  37.290316  20143.929190
2    Female    Middle Class  169.545755   52.878528  17.340781  19019.140854
4    Female            Rich  108.556203   88.984779  46.647111  19907.939428
6    Female            Poor  159.145232   60.207155  13.626486  18490.259964
11   Female            Poor  144.718634   60.811855  23.407038  20571.507994
14   Female            Poor  163.509772   50.549887  52.619461  20069.660674
15   Female            Poor  185.677437   18.708717  64.975911  18145.372571
16   Female            Poor  126.431770   45.510170  32.825865  19345.684646
17   Female            Poor  111.772252   58.967199  30.655159  21129.324953
18   Female    Middle Class  112.934224   25.825563  47.614874  19964.342594
19   Female    Middle Class  156.188990   58.079354  37.916027  20015.755370
25   Female            Rich  191.260779   38.098597  21.251147  20380.011707
27   Female            Rich  155.065153   -5.413915  37.455415  18514.451846
28   Female            Poor  188.308565   61.989923  39.417817  20758.957426
32   Female            Poor  174.407742   62.496071  48.937057  20304.125023
33   Female            Poor  180.334223   55.032730  37.324612  18666.286168
34   Female            Poor  214.270311   60.264775  30.303700  19094.357220
36   Female            Rich  119.390927   79.471547  37.666549  19965.582995
37   Female            Poor  202.633657   59.803456   9.952933  18498.848776
41   Female    Middle Class  212.183003  101.670198  32.207514  18909.276225
43   Female            Rich  147.106711   82.262846   7.236883  20897.831184
46   Female            Rich  204.165045   23.136747  25.934432  20292.944737
47   Female    Middle Class  188.093576   53.080066  31.567836  19258.844237
48   Female            Rich  172.641859   67.806840  24.773906  19346.569298
50   Female            Poor  225.519750  113.045893  20.058257  21327.565468
51   Female    Middle Class  156.101423  106.776034  24.478893  21376.257227
59   Female    Middle Class  136.931765   61.571435  46.002975  18815.765374
61   Female    Middle Class  135.007445   20.500965  33.466480  19218.418711
63   Female            Rich  209.709512   21.284766  31.887829  21252.199266
64   Female    Middle Class  117.042094   73.600542  40.600476  21156.106339
..      ...             ...         ...         ...        ...           ...
441  Female            Rich  121.278457   73.599675  55.909980  21388.422225
444  Female            Poor  131.121750   72.610076  62.686938  19310.498679
446  Female            Rich  159.071143   49.662653  25.274180  18622.712411
447  Female            Rich  141.069977   52.238472  22.096597  19242.567508
448  Female            Rich  161.975143   64.036969  25.560408  20438.314410
449  Female            Rich  129.621130   86.296846  38.571226  19076.466091
450  Female            Rich  116.325325   63.748676  57.348406  19949.982804
451  Female            Poor  117.109000   74.934534   9.985283  20094.842956
454  Female            Rich  161.104906   34.496758  34.683629  18137.299882
458  Female            Poor  168.924656   46.068222  48.097432  21321.411529
459  Female            Poor  100.300296  109.407429  35.802496  21343.768519
460  Female            Poor  144.468125  107.952379  30.946208  20096.335929
463  Female    Middle Class  202.135651   82.619709  36.587360  20979.294435
467  Female            Rich  172.220960   80.717708  25.623959  20446.018474
471  Female    Middle Class  106.255511   56.444905  27.997469  19167.873663
473  Female    Middle Class  174.659988   72.825157  20.759661  21050.737725
475  Female    Middle Class  191.909162   56.016406  28.386949  19042.782775
476  Female            Poor  144.483340   77.245601  33.603625  21149.903186
477  Female            Rich  206.291908   38.502059  31.797239  20006.940130
479  Female    Middle Class  159.514557   53.281228  39.932853  18606.652610
482  Female    Middle Class  167.758607   91.249313  45.759441  21433.191520
483  Female            Poor  181.155471   56.690290  31.139030  19984.641439
484  Female            Poor  145.147075   21.560959  24.358618  20324.303981
485  Female    Middle Class  144.153991   40.428441  19.759515  19048.047872
486  Female    Middle Class  157.483490   55.567053  18.166249  20947.287812
492  Female            Rich  183.012462   24.761629  23.223720  18497.849324
493  Female            Poor  163.474138   60.500725  32.952037  19703.719116
494  Female            Rich  192.955472   73.519207  19.761486  18492.448132
496  Female    Middle Class  135.298946  101.708136  32.982847  18074.404477
499  Female            Poor  148.607320   54.237122  37.670505  18107.576091

[268 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age        Income
1     Male            Poor  166.284517   54.053425  24.640486  19568.877439
3     Male    Middle Class  100.154200   77.448955  47.785697  21473.062208
5     Male            Rich  223.750020   38.263290  22.960062  18300.179060
7     Male            Poor  125.779461   45.910435  46.005744  21328.519153
8     Male    Middle Class  162.956434   58.301257  27.531433  18191.075995
9     Male            Poor  153.141807   48.726911  47.119829  18639.952545
10    Male            Rich  168.473340   86.276605  24.739886  20230.977368
12    Male            Rich  162.925279   79.568031  40.298777  20740.505824
13    Male            Rich  206.037493   78.472736  26.896521  19976.941219
20    Male            Poor  198.642907   14.016507  30.948278  18408.282521
21    Male    Middle Class  176.901476  119.687116  35.427354  21057.463107
22    Male            Poor  152.307483   50.388460  17.796963  21382.113432
23    Male            Rich  173.326644   26.182830  31.622789  18911.676277
24    Male            Poor  215.761448   37.506089  25.805458  20880.628708
26    Male            Rich  165.043633   60.244255  13.481162  20515.702401
29    Male    Middle Class  170.154786   69.118685  29.953133  20224.143463
30    Male            Poor  168.791106  115.814441  14.836449  20262.838650
31    Male    Middle Class  181.408561   91.026545  33.024208  20813.820288
35    Male            Poor  191.437385   44.443837  40.927341  18020.814926
38    Male            Rich  155.346872   77.615525  13.567052  19209.880953
39    Male    Middle Class  148.724912   94.066730  22.567733  20520.198452
40    Male            Poor  156.994970   40.348519  69.551161  21182.326978
42    Male            Rich  162.209040   89.872694  25.924168  20575.188320
44    Male    Middle Class  149.215702   42.428651  23.563072  19617.498071
45    Male            Rich  131.174386   52.865401  28.597000  18468.493617
49    Male            Rich  153.118635   31.149789  23.169428  19720.196007
52    Male    Middle Class  118.083433   93.216017  20.297301  20985.287410
53    Male            Poor  196.746739   71.298836  17.505911  19667.578850
54    Male            Poor  183.997125   34.037535  47.109602  20837.908619
55    Male            Rich  145.835933   41.729218  53.858053  20535.316622
..     ...             ...         ...         ...        ...           ...
438   Male            Poor  195.404587   39.158999  48.622241  20794.239785
442   Male            Rich  205.469527   66.166206  25.764555  19418.987763
443   Male            Rich  135.164944   95.433873  20.977477  18768.134761
445   Male            Rich  173.704962   63.321566  29.478535  18158.633512
452   Male            Poor  116.163771   89.308922   6.215670  18060.542899
453   Male    Middle Class  129.749103   72.336305  21.765053  18210.058829
455   Male    Middle Class  188.729709   58.698175  60.883984  20142.134292
456   Male            Poor  138.597043  104.928966  24.962876  18129.044769
457   Male            Rich  164.924457   33.024829  47.201426  21392.246757
461   Male            Rich  155.982477   38.817968  25.796085  20856.413967
462   Male            Rich  194.017467   67.593807  27.309026  20589.267264
464   Male    Middle Class  150.627223   72.641685   9.903583  19719.905994
465   Male            Rich  155.188950   11.805607  43.769499  18944.525573
466   Male            Rich  153.865026   92.894530  18.759768  21018.029718
468   Male            Rich  163.938074   56.808714  18.751608  20988.296638
469   Male            Rich  182.093940   59.616262  17.289672  18630.657824
470   Male            Rich  164.795631   49.872209  35.830910  21452.816240
472   Male    Middle Class  160.616898   60.747864  40.833442  18931.304888
474   Male    Middle Class  131.536974   41.223889  43.726324  19582.882272
478   Male            Rich  156.034415   86.893920  25.704369  20527.096949
480   Male    Middle Class  147.054989   73.528862  51.712153  21470.337967
481   Male            Rich  167.344299   51.878681  21.766897  19514.030355
487   Male    Middle Class  131.603654   24.105231  41.244881  20654.348324
488   Male            Rich  148.070504   25.130245  26.961205  20718.099386
489   Male            Poor  161.416046   22.899333  33.970072  20719.103078
490   Male            Rich  154.964026   73.388326  15.539617  21489.849495
491   Male            Poor  180.189667   24.897888  25.070087  19152.657209
495   Male    Middle Class  208.036385   73.063665  21.776835  18998.620291
497   Male    Middle Class  156.821911   87.175665  44.168710  18196.135487
498   Male    Middle Class  183.915718   80.046529  34.483186  19274.362224

[232 rows x 6 columns]

In [28]:
grouped_gender.get_group("Female")

     Gender Economic Status      Height      Weight        Age        Income
0    Female            Poor  178.161513   19.823247  37.290316  20143.929190
2    Female    Middle Class  169.545755   52.878528  17.340781  19019.140854
4    Female            Rich  108.556203   88.984779  46.647111  19907.939428
6    Female            Poor  159.145232   60.207155  13.626486  18490.259964
11   Female            Poor  144.718634   60.811855  23.407038  20571.507994
14   Female            Poor  163.509772   50.549887  52.619461  20069.660674
15   Female            Poor  185.677437   18.708717  64.975911  18145.372571
16   Female            Poor  126.431770   45.510170  32.825865  19345.684646
17   Female            Poor  111.772252   58.967199  30.655159  21129.324953
18   Female    Middle Class  112.934224   25.825563  47.614874  19964.342594
19   Female    Middle Class  156.188990   58.079354  37.916027  20015.755370
25   Female            Rich  191.260779   38.098597  21.251147  20380.011707
27   Female            Rich  155.065153   -5.413915  37.455415  18514.451846
28   Female            Poor  188.308565   61.989923  39.417817  20758.957426
32   Female            Poor  174.407742   62.496071  48.937057  20304.125023
33   Female            Poor  180.334223   55.032730  37.324612  18666.286168
34   Female            Poor  214.270311   60.264775  30.303700  19094.357220
36   Female            Rich  119.390927   79.471547  37.666549  19965.582995
37   Female            Poor  202.633657   59.803456   9.952933  18498.848776
41   Female    Middle Class  212.183003  101.670198  32.207514  18909.276225
43   Female            Rich  147.106711   82.262846   7.236883  20897.831184
46   Female            Rich  204.165045   23.136747  25.934432  20292.944737
47   Female    Middle Class  188.093576   53.080066  31.567836  19258.844237
48   Female            Rich  172.641859   67.806840  24.773906  19346.569298
50   Female            Poor  225.519750  113.045893  20.058257  21327.565468
51   Female    Middle Class  156.101423  106.776034  24.478893  21376.257227
59   Female    Middle Class  136.931765   61.571435  46.002975  18815.765374
61   Female    Middle Class  135.007445   20.500965  33.466480  19218.418711
63   Female            Rich  209.709512   21.284766  31.887829  21252.199266
64   Female    Middle Class  117.042094   73.600542  40.600476  21156.106339
..      ...             ...         ...         ...        ...           ...
441  Female            Rich  121.278457   73.599675  55.909980  21388.422225
444  Female            Poor  131.121750   72.610076  62.686938  19310.498679
446  Female            Rich  159.071143   49.662653  25.274180  18622.712411
447  Female            Rich  141.069977   52.238472  22.096597  19242.567508
448  Female            Rich  161.975143   64.036969  25.560408  20438.314410
449  Female            Rich  129.621130   86.296846  38.571226  19076.466091
450  Female            Rich  116.325325   63.748676  57.348406  19949.982804
451  Female            Poor  117.109000   74.934534   9.985283  20094.842956
454  Female            Rich  161.104906   34.496758  34.683629  18137.299882
458  Female            Poor  168.924656   46.068222  48.097432  21321.411529
459  Female            Poor  100.300296  109.407429  35.802496  21343.768519
460  Female            Poor  144.468125  107.952379  30.946208  20096.335929
463  Female    Middle Class  202.135651   82.619709  36.587360  20979.294435
467  Female            Rich  172.220960   80.717708  25.623959  20446.018474
471  Female    Middle Class  106.255511   56.444905  27.997469  19167.873663
473  Female    Middle Class  174.659988   72.825157  20.759661  21050.737725
475  Female    Middle Class  191.909162   56.016406  28.386949  19042.782775
476  Female            Poor  144.483340   77.245601  33.603625  21149.903186
477  Female            Rich  206.291908   38.502059  31.797239  20006.940130
479  Female    Middle Class  159.514557   53.281228  39.932853  18606.652610
482  Female    Middle Class  167.758607   91.249313  45.759441  21433.191520
483  Female            Poor  181.155471   56.690290  31.139030  19984.641439
484  Female            Poor  145.147075   21.560959  24.358618  20324.303981
485  Female    Middle Class  144.153991   40.428441  19.759515  19048.047872
486  Female    Middle Class  157.483490   55.567053  18.166249  20947.287812
492  Female            Rich  183.012462   24.761629  23.223720  18497.849324
493  Female            Poor  163.474138   60.500725  32.952037  19703.719116
494  Female            Rich  192.955472   73.519207  19.761486  18492.448132
496  Female    Middle Class  135.298946  101.708136  32.982847  18074.404477
499  Female            Poor  148.607320   54.237122  37.670505  18107.576091

[268 rows x 6 columns]

In [29]:
double_group = data.groupby(["Gender", "Economic Status"])

In [30]:
len(double_group)

6

In [32]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height      Weight        Age        Income
2    Female    Middle Class  169.545755   52.878528  17.340781  19019.140854
18   Female    Middle Class  112.934224   25.825563  47.614874  19964.342594
19   Female    Middle Class  156.188990   58.079354  37.916027  20015.755370
41   Female    Middle Class  212.183003  101.670198  32.207514  18909.276225
47   Female    Middle Class  188.093576   53.080066  31.567836  19258.844237
51   Female    Middle Class  156.101423  106.776034  24.478893  21376.257227
59   Female    Middle Class  136.931765   61.571435  46.002975  18815.765374
61   Female    Middle Class  135.007445   20.500965  33.466480  19218.418711
64   Female    Middle Class  117.042094   73.600542  40.600476  21156.106339
78   Female    Middle Class  170.966000  124.286194  33.308772  21303.387192
83   Female    Middle Class  138.344315   68.753075  21.126611  20428.030430
89   Female    Middle Class  220.324822   82.464228  11.692780  21296.654614
90   Female    Middle Class  150.806333  101.504509  19.918852  19278.357673
92   Female    Middle Class  144.957731   78.033541  13.485508  19175.382550
98   Female    Middle Class  148.862728   25.785143  41.436276  18520.753211
99   Female    Middle Class  204.669509   98.092491  19.790885  18167.971033
101  Female    Middle Class  172.405943   49.499501  52.551883  18018.543995
102  Female    Middle Class  185.564586   87.597555  30.591347  21004.854869
110  Female    Middle Class  140.423905   56.788740  15.551497  20889.649335
114  Female    Middle Class  189.289576   70.809789  49.460324  18366.736899
125  Female    Middle Class  158.280311   56.861382  48.229713  18072.592295
131  Female    Middle Class  225.375856   67.574322  23.296265  21256.665838
161  Female    Middle Class  153.593764   37.958953  17.899280  19584.136764
167  Female    Middle Class  150.621306   80.155814  39.660741  18605.904301
171  Female    Middle Class  162.036655   79.598313  30.301866  18361.850032
175  Female    Middle Class  198.271926   50.174826  33.604875  18574.314381
181  Female    Middle Class  170.461516   44.815210  44.876059  19194.459790
186  Female    Middle Class  148.877737   94.435005  49.426228  18916.298494
192  Female    Middle Class  213.278014   45.287882  48.990230  18223.609710
197  Female    Middle Class  182.777386   99.961447  38.462679  19172.758641
..      ...             ...         ...         ...        ...           ...
354  Female    Middle Class  168.299578   99.627608  29.339327  18280.675150
361  Female    Middle Class  147.995473   79.120155  28.474287  18144.458697
364  Female    Middle Class  171.533474   62.077263  24.076676  20908.459772
367  Female    Middle Class  211.033946   68.091840  12.321158  19037.553132
368  Female    Middle Class  150.893639   36.026820  26.143278  21020.233383
374  Female    Middle Class  157.483610   17.385805  -0.039885  21484.612892
378  Female    Middle Class  155.096944   66.611168  17.076944  19919.308443
379  Female    Middle Class  134.112119  101.462794  42.440173  18653.911957
385  Female    Middle Class  188.464367   56.688638  23.665526  20170.071350
389  Female    Middle Class  141.709676   36.427971  17.695795  18061.417655
393  Female    Middle Class  127.121948   84.689839  44.571937  19926.251215
398  Female    Middle Class  183.287023   40.091643  18.786599  21333.958883
408  Female    Middle Class  216.708563   47.844316  29.831924  19348.913416
409  Female    Middle Class  132.833517   52.907066  31.923209  18891.066624
411  Female    Middle Class  208.042726   57.694375  26.845361  18790.953437
415  Female    Middle Class  141.651346   91.303795  40.061215  20138.095602
416  Female    Middle Class  156.982645   71.508361  23.497854  18713.612058
427  Female    Middle Class  159.647697   67.526371  36.972738  19292.218013
431  Female    Middle Class  138.034318   45.892684  17.085099  18881.688811
433  Female    Middle Class  206.001586   36.490891  19.557491  18051.228702
434  Female    Middle Class  167.004198   61.978675  16.493692  18099.829627
463  Female    Middle Class  202.135651   82.619709  36.587360  20979.294435
471  Female    Middle Class  106.255511   56.444905  27.997469  19167.873663
473  Female    Middle Class  174.659988   72.825157  20.759661  21050.737725
475  Female    Middle Class  191.909162   56.016406  28.386949  19042.782775
479  Female    Middle Class  159.514557   53.281228  39.932853  18606.652610
482  Female    Middle Class  167.758607   91.249313  45.759441  21433.191520
485  Female    Middle Class  144.153991   40.428441  19.759515  19048.047872
486  Female    Middle Class  157.483490   55.567053  18.166249  20947.287812
496  Female    Middle Class  135.298946  101.708136  32.982847  18074.404477

[93 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weight        Age        Income
0    Female            Poor  178.161513   19.823247  37.290316  20143.929190
6    Female            Poor  159.145232   60.207155  13.626486  18490.259964
11   Female            Poor  144.718634   60.811855  23.407038  20571.507994
14   Female            Poor  163.509772   50.549887  52.619461  20069.660674
15   Female            Poor  185.677437   18.708717  64.975911  18145.372571
16   Female            Poor  126.431770   45.510170  32.825865  19345.684646
17   Female            Poor  111.772252   58.967199  30.655159  21129.324953
28   Female            Poor  188.308565   61.989923  39.417817  20758.957426
32   Female            Poor  174.407742   62.496071  48.937057  20304.125023
33   Female            Poor  180.334223   55.032730  37.324612  18666.286168
34   Female            Poor  214.270311   60.264775  30.303700  19094.357220
37   Female            Poor  202.633657   59.803456   9.952933  18498.848776
50   Female            Poor  225.519750  113.045893  20.058257  21327.565468
68   Female            Poor  161.428256   58.824350  23.275658  20222.461022
72   Female            Poor  103.863177   46.015614  36.712927  20416.730999
75   Female            Poor  159.289366   42.265969  28.790301  20176.435706
76   Female            Poor  204.328827   47.205334  49.412730  19607.512441
104  Female            Poor  136.060961   61.774591  38.179982  18120.018939
108  Female            Poor  174.815857   52.094415  40.639491  20107.634938
109  Female            Poor  189.832885   51.840389  27.222973  21478.621455
113  Female            Poor  120.560446   97.559060  32.880870  18807.167387
120  Female            Poor  146.271384   48.695499  40.027239  18064.948738
123  Female            Poor  161.899928   59.176371  28.215495  20593.410101
128  Female            Poor  175.495987    6.511647  34.278029  19650.182947
133  Female            Poor  113.412689   45.713204  28.277895  19905.527186
136  Female            Poor  162.074057   72.687804  10.714976  18613.720746
139  Female            Poor  177.663998   49.734804  32.188308  18452.101918
140  Female            Poor  146.224783   48.805463  35.696273  18201.309147
150  Female            Poor  136.650974   72.207743  31.333418  19929.739405
153  Female            Poor  150.268635   55.506374  28.082506  21479.688672
..      ...             ...         ...         ...        ...           ...
317  Female            Poor  194.062795   51.874210  32.404344  21043.426591
320  Female            Poor  154.457745   55.963629  21.448611  20014.180043
329  Female            Poor  150.223468   55.739529  41.999990  18726.930330
330  Female            Poor  163.116445  116.531245  18.285080  21072.626359
331  Female            Poor  188.822246   52.293963  37.979284  21363.762644
350  Female            Poor  139.788236   97.865974  19.390675  20662.451443
351  Female            Poor  177.673522   66.749218  23.193007  20364.946915
371  Female            Poor   77.439750   79.371648  31.575458  19589.770978
376  Female            Poor  129.599663   53.154072  44.894734  20621.967658
381  Female            Poor  178.012432   88.504314  33.387763  18085.785543
392  Female            Poor  177.898854   58.113158  22.452826  19409.971392
413  Female            Poor  141.599740   53.341081  38.037733  18928.305988
421  Female            Poor  158.152455   66.949790  37.921951  18973.134832
422  Female            Poor  141.626896   77.768295  41.148625  20926.015185
423  Female            Poor  122.449964   67.349032   8.586414  21181.342546
426  Female            Poor  142.254140  110.798588  31.518346  19885.852486
428  Female            Poor  170.672438   74.659100  41.675983  20594.338622
430  Female            Poor  153.659603   68.852993  32.120755  19104.488246
435  Female            Poor  156.751935   89.006059  25.571983  20514.977629
439  Female            Poor   85.329067  118.640289  39.983809  19984.200717
444  Female            Poor  131.121750   72.610076  62.686938  19310.498679
451  Female            Poor  117.109000   74.934534   9.985283  20094.842956
458  Female            Poor  168.924656   46.068222  48.097432  21321.411529
459  Female            Poor  100.300296  109.407429  35.802496  21343.768519
460  Female            Poor  144.468125  107.952379  30.946208  20096.335929
476  Female            Poor  144.483340   77.245601  33.603625  21149.903186
483  Female            Poor  181.155471   56.690290  31.139030  19984.641439
484  Female            Poor  145.147075   21.560959  24.358618  20324.303981
493  Female            Poor  163.474138   60.500725  32.952037  19703.719116
499  Female            Poor  148.607320   54.237122  37.670505  18107.576091

[86 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight        Age        Income
4    Female            Rich  108.556203   88.984779  46.647111  19907.939428
25   Female            Rich  191.260779   38.098597  21.251147  20380.011707
27   Female            Rich  155.065153   -5.413915  37.455415  18514.451846
36   Female            Rich  119.390927   79.471547  37.666549  19965.582995
43   Female            Rich  147.106711   82.262846   7.236883  20897.831184
46   Female            Rich  204.165045   23.136747  25.934432  20292.944737
48   Female            Rich  172.641859   67.806840  24.773906  19346.569298
63   Female            Rich  209.709512   21.284766  31.887829  21252.199266
67   Female            Rich  148.996940   60.897251   5.002027  20544.416053
71   Female            Rich  133.564417   54.563252  34.791539  19590.566851
81   Female            Rich  167.821665   92.217327  26.389458  20867.007040
85   Female            Rich  181.907291   51.364597  17.374948  18182.772646
88   Female            Rich  141.845966   56.360856  39.257752  19661.778603
91   Female            Rich  190.552219   76.466052  34.587708  21290.041907
94   Female            Rich  154.964089   95.546198  26.356547  20175.229618
97   Female            Rich  169.798975   53.661888  42.349564  19618.223974
107  Female            Rich  143.760158   58.631738  46.629630  20752.579453
115  Female            Rich  196.625642   82.860933  21.502336  19695.471736
116  Female            Rich  166.261513   90.595180  34.392486  20623.217348
118  Female            Rich  108.486840  104.719865  24.061157  19591.907619
127  Female            Rich  164.448340   64.494621  30.789186  21122.433458
129  Female            Rich  128.236015   72.274526  39.782111  19911.645562
137  Female            Rich  191.200514   36.345323  32.033739  18933.917066
145  Female            Rich  182.323046   97.399955  43.705733  19428.894341
151  Female            Rich  186.073134   66.037993  23.989103  19404.726054
163  Female            Rich  127.008624   86.775309  40.399566  18064.906125
166  Female            Rich  132.550956   91.909910  46.393766  18892.332203
169  Female            Rich  130.838310   59.382988  24.380226  18652.566572
188  Female            Rich  179.990311   40.964655  13.221749  18413.461785
191  Female            Rich  149.494317   76.797105  28.178341  20914.223268
..      ...             ...         ...         ...        ...           ...
324  Female            Rich  142.023727   67.222456  17.052345  20084.850565
334  Female            Rich  139.948434   63.367416  29.756014  20120.937532
342  Female            Rich  185.540539  142.831441  27.632662  19311.772521
344  Female            Rich  173.130298   86.306530  44.690297  20235.648624
347  Female            Rich  172.337802   40.797371  59.466436  18678.716228
362  Female            Rich  157.944571   34.594265  40.847404  19511.235572
363  Female            Rich  148.795591   80.210050  15.879698  19755.856941
375  Female            Rich  111.886006   89.655620  29.778656  18807.153094
382  Female            Rich  141.957340   64.509296  22.389443  18285.762574
386  Female            Rich  152.770407   24.027546  30.412433  18640.911527
387  Female            Rich  157.820073   42.079057  27.743351  20603.533868
390  Female            Rich  141.936214   96.101818  18.399016  20537.419256
395  Female            Rich  161.082881   92.393175  33.202357  20069.054488
399  Female            Rich  201.077179   32.957818  30.655086  18807.281859
410  Female            Rich  220.217955   51.344623  32.328790  18370.740033
414  Female            Rich  108.818112   56.475927  35.583957  19467.141312
417  Female            Rich  188.610066   70.601272  30.621315  18251.035792
436  Female            Rich  151.341199   81.783355  25.678890  18395.822457
440  Female            Rich  189.915235   54.508465  33.252860  19736.409593
441  Female            Rich  121.278457   73.599675  55.909980  21388.422225
446  Female            Rich  159.071143   49.662653  25.274180  18622.712411
447  Female            Rich  141.069977   52.238472  22.096597  19242.567508
448  Female            Rich  161.975143   64.036969  25.560408  20438.314410
449  Female            Rich  129.621130   86.296846  38.571226  19076.466091
450  Female            Rich  116.325325   63.748676  57.348406  19949.982804
454  Female            Rich  161.104906   34.496758  34.683629  18137.299882
467  Female            Rich  172.220960   80.717708  25.623959  20446.018474
477  Female            Rich  206.291908   38.502059  31.797239  20006.940130
492  Female            Rich  183.012462   24.761629  23.223720  18497.849324
494  Female            Rich  192.955472   73.519207  19.761486  18492.448132

[89 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age        Income
3     Male    Middle Class  100.154200   77.448955  47.785697  21473.062208
8     Male    Middle Class  162.956434   58.301257  27.531433  18191.075995
21    Male    Middle Class  176.901476  119.687116  35.427354  21057.463107
29    Male    Middle Class  170.154786   69.118685  29.953133  20224.143463
31    Male    Middle Class  181.408561   91.026545  33.024208  20813.820288
39    Male    Middle Class  148.724912   94.066730  22.567733  20520.198452
44    Male    Middle Class  149.215702   42.428651  23.563072  19617.498071
52    Male    Middle Class  118.083433   93.216017  20.297301  20985.287410
62    Male    Middle Class  175.989296   35.932660  24.422522  20282.661294
65    Male    Middle Class  173.342974   83.383406  42.294296  21113.249489
70    Male    Middle Class  206.641692  107.121820  -0.213684  21026.342430
100   Male    Middle Class  182.467705   86.902615  27.811455  20084.937171
105   Male    Middle Class  158.714999   52.011945  33.257534  18600.822334
111   Male    Middle Class  196.909245   70.741424  51.749663  18578.528565
119   Male    Middle Class  161.054482   18.834715  34.078587  21121.193015
126   Male    Middle Class  159.713174   72.989198  21.850790  20630.574934
130   Male    Middle Class  128.491918   33.600685  32.623109  18734.884379
132   Male    Middle Class  178.024107   79.162796  38.557409  18564.793146
142   Male    Middle Class  202.708217   55.207171  56.448681  20906.279710
143   Male    Middle Class  113.719047   89.018950  26.526286  19673.766586
146   Male    Middle Class  152.314566   91.984862  19.300221  20950.453550
147   Male    Middle Class  123.156354   59.442457  25.159105  20210.997058
149   Male    Middle Class  167.696014   69.301666  10.350500  18923.512268
152   Male    Middle Class  142.587024  126.041658  14.674762  21030.907462
157   Male    Middle Class  106.565712   58.190551  38.918380  20884.777485
162   Male    Middle Class   97.526456   55.218881  27.329614  19865.288274
164   Male    Middle Class  183.039209   38.887484  12.077115  19710.492418
172   Male    Middle Class  146.736010   47.654430  36.379390  21176.304240
173   Male    Middle Class  149.230199   78.099707  33.247308  19690.579861
180   Male    Middle Class  153.644564   59.079454  20.185778  19189.670641
..     ...             ...         ...         ...        ...           ...
309   Male    Middle Class  188.137732   37.443900  18.835430  20054.327194
312   Male    Middle Class  118.616827   90.253136  -1.752567  19051.765672
313   Male    Middle Class  172.340457   74.993323  10.343349  18071.788983
319   Male    Middle Class  161.382623   53.205108  25.972580  20188.854342
326   Male    Middle Class  119.032123   33.401651  14.518781  19788.938453
335   Male    Middle Class  180.187101   59.219003  48.642170  20021.755027
338   Male    Middle Class  186.332327   68.919728  30.527785  21041.728257
339   Male    Middle Class  160.486299   41.716324   9.887730  20973.946469
349   Male    Middle Class  176.780804   63.250160  36.701555  19375.792078
356   Male    Middle Class  147.330412   80.358981  30.308046  21084.565256
357   Male    Middle Class  151.882674   81.187420  25.435370  18425.872484
358   Male    Middle Class  222.331048  140.652037  31.474240  19313.601797
360   Male    Middle Class  134.838351   51.977108  43.369668  20099.240335
366   Male    Middle Class  179.635974   95.948660  45.530929  19724.786648
369   Male    Middle Class  157.390269   52.846020  44.610298  21124.089494
373   Male    Middle Class  136.632069   44.258082  31.226071  18571.339852
384   Male    Middle Class  142.015010   88.391182  27.075651  20697.030384
407   Male    Middle Class  140.484540   81.683434  22.010402  19011.130813
419   Male    Middle Class  151.873385   66.213981  21.739848  18619.039772
429   Male    Middle Class  143.119949   94.504060  28.313589  19931.471471
453   Male    Middle Class  129.749103   72.336305  21.765053  18210.058829
455   Male    Middle Class  188.729709   58.698175  60.883984  20142.134292
464   Male    Middle Class  150.627223   72.641685   9.903583  19719.905994
472   Male    Middle Class  160.616898   60.747864  40.833442  18931.304888
474   Male    Middle Class  131.536974   41.223889  43.726324  19582.882272
480   Male    Middle Class  147.054989   73.528862  51.712153  21470.337967
487   Male    Middle Class  131.603654   24.105231  41.244881  20654.348324
495   Male    Middle Class  208.036385   73.063665  21.776835  18998.620291
497   Male    Middle Class  156.821911   87.175665  44.168710  18196.135487
498   Male    Middle Class  183.915718   80.046529  34.483186  19274.362224

[77 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weight        Age        Income
1     Male            Poor  166.284517   54.053425  24.640486  19568.877439
7     Male            Poor  125.779461   45.910435  46.005744  21328.519153
9     Male            Poor  153.141807   48.726911  47.119829  18639.952545
20    Male            Poor  198.642907   14.016507  30.948278  18408.282521
22    Male            Poor  152.307483   50.388460  17.796963  21382.113432
24    Male            Poor  215.761448   37.506089  25.805458  20880.628708
30    Male            Poor  168.791106  115.814441  14.836449  20262.838650
35    Male            Poor  191.437385   44.443837  40.927341  18020.814926
40    Male            Poor  156.994970   40.348519  69.551161  21182.326978